.round
{
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;

    padding-top: 2px;
    padding-bottom: 2px;
}

@keyframes changeColor-anim
{
    0%
    {
        color: black;
    }
    25%
    {
        color: blue;
    }
    50%
    {
        color: orangered;
    }
    75%
    {
        color: purple;
    }
    100%
    {
        color: green;
    }
}

.changeColor
{
    animation-name: changeColor-anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes disapear
{
    0%
    {
        width: 4px;
    }
    95%
    {
        width: 4px;
    }
    100%
    {
        width: 0px;;
        max-width: 0px;
    }
}

::-webkit-scrollbar {
    width: 4px;
    animation: disapear 4s;
    animation-iteration-count: 1;
}

::-webkit-scrollbar:hover {
    animation: none !important;
    animation-name: none;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dddddddc;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 90px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4e5;
  }