.img-fullscreen
{
    position: absolute;
    z-index: 100000;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: inline-block;
}

.img-fullscreen > .img-sim
{
    display: inline-block;
    width: 100vw;
    height: 100vh;
    /*transform: translateY(50%);*/
}

.img-fullscreen > button
{
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 5px;
    right: 0px;
    top: 0px;
    font-size: 32px;
    background-color: transparent;
    color: white;
    border-width: 0px;
}